.weatherContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;

  .currentContainer {
    display: flex;
    flex-direction: row;

    .weatherIcon {
      width: 84px;
      vertical-align: top;
      margin-right: 12px;
    }

    .currentText {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    .currentTemperature {
      font-size: var(--font-xl);
      letter-spacing: 2px;
    }

    .currentLocation {
      font-size: var(--font-sm);
    }
  }

  .description {
    margin: 24px 0;
    font-weight: 100;
    font-size: var(--font-lg);
    letter-spacing: 2px;
  }

  .forecastContainer {
    width: 75%;

    .forecastTitle {
      letter-spacing: 2px;
      font-size: var(--font-md);
      font-weight: 600;
      padding: 8px;
      text-align: center;
    }

    .forecastSubContainer {
      display: flex;
      flex-direction: row;

      .forecast {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: var(--font-sm);

        .icon {
          width: 24px;
          vertical-align: middle;
        }
      }
    }
  }
}
